video {
    object-fit:cover;
    width: 100vw;
    height: 100vh;
    position:absolute;
    top: 0;
    left: 0;
  }
  
  body {
    height: 100%;
    max-width: 100%;
    margin: 0;
    overflow-x: hidden;
    
  }
  html {
    font-family:  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 150%;
    line-height: 1.4;
    scroll-behavior: smooth;
  }
  
  .viewport-header {
    position: relative;
    height: 115vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:default;
    top:20px;
  }
  
  h1 {
    font-family:  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    color: rgba(202, 159, 59, 0.793);
    text-transform: uppercase;
    letter-spacing: 20px;
    line-height: 1.2;
    font-size: 50px;
    text-align: center;
   
  }
  span {
    display: block;
    font-size: 10vw;
    letter-spacing: -10px;
  }
  ul.social{
    list-style: none;
    position: absolute;
    top: 50%;
    
    right: 0%;
    transform: translateY(-50%);
}
ul li{
    margin: 10px 0;
}
ul li a{
    text-decoration: none;
    display: flex;
    user-select: none;
}
ul li a span:nth-child(1){
    display: inline-block;
    width: 60px;
    height: 50px;
    background: var(--themeColor);
    color: rgba(202, 159, 59, 0.793);
    font-size: 23px;
    display: grid;
    place-items: center;
    border-left: 5px solid var(--themeColor);
    border-radius: 50px 0 0 50px;
}
ul li a span:nth-child(2){
    position: fixed;
    height: 50px;
    background: var(--themeColor);
    color: rgba(202, 159, 59, 0.793);
    z-index: -1;
    padding-left: 0;
    margin-left: -100px;
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1.5px;
    width: 0;
    border-radius: 0 50px 50px 0;
    overflow: hidden;
    transition: 0.3s ease;
}
ul li a:hover span:nth-child(2){
    width: 160px;
    
}

section{
  width: 100%;
  height: 100vh;
}

#section1{
  background-color: black;
}


#buttonDown{
margin-top: 50px;
border: 0;
border-radius: 100px ;
border:2px solid transparent;
padding-top:10px ;
padding-bottom: 2px;
outline: none;
cursor: pointer;
background-color: transparent ;
font-size: 70px;
color: rgba(202, 159, 59, 0.793);
text-decoration: none;
}

#buttonUp{
  margin-top: 50px;
  border: 0;
  border-radius: 100px ;
  border:2px solid transparent;
  padding-top:10px ;
  padding-bottom: 2px;
  outline: none;
  cursor: pointer;
  background-color: transparent ;
  font-size: 70px;
  color: rgba(202, 159, 59, 0.793);
  text-decoration: none;
  }

  /*SECTION 2 */
  #section2{
    background: #FFF;
  }

  #container{
    box-shadow: 0 15px 30px 1px grey;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: 350px;
    width: 800px;
    
    
  }
  
  .rubrik{
    padding-left:20px;
  }
  
  .product-details {
    position: relative;
    text-align: left;
    overflow: hidden;
    padding: 50px;
    height: 100%;
    float: left;
    width: 40%;
  
  }
  
  #container .product-details h1{
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", cursive;
    display: inline-block;
    position: relative;
    font-size: 20px;
    color: rgba(202, 159, 59, 0.793);
    margin: 0;
    
  }
  

  
  
  #container .product-details > p {
  font-family:  "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
    font-size: 18px;
    color: #FFF;
    
  }
  .control{
    position: absolute;
    bottom: 20%;
    left: 22.8%;
    
  }
  
  
  .product-image {
    transition: all 0.3s ease-out;
    position: relative;
    overflow: hidden;
    height: 100%;
    float: right;
    width: 45%;
  }
  
  #container img {width: 100%;height: 100%;}

  .summorize{
    padding-left: 20px;
  }
  
  .info {
      background: rgba(27, 26, 26, 0.9);
      font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
      transition: all 0.3s ease-out;
      transform: translateX(-100%);
      position: absolute;
      line-height: 1.8;
      text-align: left;
      font-size: 20px;
      cursor:auto;
      color: #FFF;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
  }
  
  .info h2 {text-align: center}
  .product-image:hover .info{transform: translateX(0);}
  
  .info ul li{transition: 0.3s ease;}
  .info ul li:hover{transform: translateX(20px) scale(1.1);}
  
  .product-image:hover img {transition: all 0.3s ease-out;}
  .product-image:hover img {transform: scale(1.2, 1.2);}